<launch>
  <!-- Parameters -->
  <rosparam file="$(find elevation_map_server)/config/params.yaml" command="load" subst_value="true" />

  <!-- Map Lodaer -->
  <node pkg="elevation_map_server" type="occupancyMap_server_node" name="occupancyMap_server_node" output="screen" />

  <!-- Rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz_occupancy_map_server" args="-d $(find elevation_map_server)/rviz/occupancy_map_server.rviz" /> -->

  <!-- RQT -->
  <node pkg="rqt_gui" type="rqt_gui" name="rqt" args="--perspective-file $(find elevation_map_server)/rviz/rviz.perspective" />
</launch>