<launch>
  <arg name="package" value="elevation_map_server" />
  <arg name="package_dir" value="$(find elevation_map_server)" />

  <!-- Read parameters -->
  <rosparam file="$(arg package_dir)/config/params.yaml" command="load" subst_value="true" />

  <!-- Launch occupancy map server -->
  <node pkg="$(arg package)" type="occupancyMap_server_node" name="occupancyMap_server_node"
    output="screen" />

</launch>